.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 100px 20px; */
  background-color: transparent; /* White background */
  color: #000000; /* Black text color */
  height: 100vh; /* Full viewport height */
  position: relative;
}
h1 {
  color: black;
}
.hero-content {
  position: relative;
  z-index: 1;
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3d52a0; /* Themed green color */
}

.hero-section p {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #000000; /* Black text color */
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cta-buttons .btn {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Button shadow */
}

.cta-buttons .login-btn {
  background-color: #3d52a0; /* Themed green color */
  color: #ffffff; /* Black text */
}

.cta-buttons .register-btn {
  background-color: #7091e6; /* Black background */
  color: #ffffff; /* White text */
}

.cta-buttons .btn:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  background-color: #8697c4; /* Darken the green color */
}

.cta-buttons .register-btn:hover {
  background-color: #8697c4; /* Darken the black color */
}
