.transportation-partners-container {
  padding: 50px;
  padding-bottom: 500px;
  background-color: transparent;
  color: #3d52a0;
  text-align: center;
}

.transportation-partners-container h2 {
  color: #3d52a0;
  margin-bottom: 30px;
  font-size: 2.5em;
}

.partner-card {
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.partner-card:hover {
  transform: scale(1.05);
}

.partner-card img {
  width: 100%;
  height: 200px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-radius: 10px;
  margin-bottom: 15px;
}

.partner-card h3 {
  color: #000000;
  font-size: 1.2em;
}
