/* AboutUs.css */

.about-us {
  padding: 20px;
  max-width: 800px;
  margin: 200px auto;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(10, 24, 59);
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.about-us p {
  font-size: 1.2em;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}
