.settings-section {
  margin-left: 50px;
  padding: 20px;
  background-color: transparent;
  min-height: 100vh;
}

.settings-section h1 {
  text-align: center;
  color: #333;
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}

.settings-form {
  max-width: 600px;
  margin: 0 auto;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
  font-family: "Arial", sans-serif;
}

.form-group label .icon {
  margin-right: 10px;
  color: #3c55f6;
}

.form-group input[type="email"],
.form-group input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  background: white;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.save-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(25, 36, 67);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
}

.save-btn .icon {
  margin-right: 10px;
}

.save-btn:hover {
  background-color: #3c55f6;
}
