.client-background {
  background-image: url("../../Assets/back4.jpg");
  background-size: cover;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  width: 50%;
}

.registration-form {
  background-color: white;
  padding: 40px;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  width: 400px;
}
/* .client-registration {
  color: rgb(10, 24, 59);
} */
.registration-form h2 {
  color: rgb(10, 24, 59);
  text-align: left;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  color: #000000;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input {
  color: rgb(10, 24, 59);
}

#name {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(10, 24, 59);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
}
#company {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(10, 24, 59);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
}
/* Placeholder styling */
.form-group input::placeholder {
  color: #ffffff;
}

.button1 {
  width: 100%;
  padding: 15px;
  background-color: rgb(10, 24, 59);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button1:hover {
  background-color: rgb(10, 24, 59);
}
