.footer-container {
    background-color: transparent; /* Black background */
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
    padding: 16px;
    color: black; /* White text color */
  }
  
  .footer-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .footer-subscription-heading {
    margin-bottom: 16px;
    font-size: 20px;
  }
  
  .footer-subscription-text {
    margin-bottom: 16px;
    font-size: 16px;
  }
  
  .footer-input {
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-bottom: 12px;
    border: 1px solid #4CFB0F; /* Themed green border */
    background-color: white; /* Black background */
    color: black; /* White text color */
  }
  
  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer-link-items h2 {
    margin-bottom: 12px;
    font-size: 18px;
    color: #4CFB0F; /* Themed green color */
  }
  
  .footer-link-items a {
    color: black; /* White text color */
    text-decoration: none;
    margin-bottom: 0.3rem;
    font-size: 14px;
  }
  
  .footer-link-items a:hover {
    color: #4CFB0F; /* Themed green color on hover */
    transition: 0.3s ease-out;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
  
  .social-logo {
    color: black; /* White text color */
    justify-self: start;
    margin-left: 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .website-rights {
    color: black; /* White text color */
    margin-bottom: 12px;
  }
  
  .social-icon-link {
    color: black; /* White text color */
    font-size: 20px;
  }
  
  .social-icon-link:hover {
    color: #4CFB0F; /* Themed green color on hover */
    transition: 0.3s ease-out;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 1rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  