#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.5; /* Adjust the opacity as needed */
  object-fit: cover; /* Ensure the video covers the entire screen */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  position: relative;
  z-index: 1;
}
