@import '@fortawesome/fontawesome-free/css/all.css';

.register-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    text-align: center;
}

h2 {
    color: #000000; /* Black color for "Register As" */
    margin-bottom: 40px;
    font-size: 2em;
}

.register-options {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.register-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    width: 200px;
    transition: transform 0.3s, background-color 0.3s;
}

.client-option {
    background-color: #4CFC0F; /* Green theme for Client */
}

.provider-option {
    background-color: #4CFC0F; /* Gray theme for Transportation Provider */
}

.register-option:hover {
    transform: scale(1.1);
}

.option-icon {
    font-size: 3em;
    margin-bottom: 10px;
}

.option-text {
    font-size: 1.2em;
}
